.container {
    margin: 0 auto;
    width: 48rem;
  }
  .accordion{
    box-shadow: -4px 0px 24px -12px rgba(27,27,27,0.39) inset;
-webkit-box-shadow: -4px 0px 24px -12px rgba(27,27,27,0.39) inset;
-moz-box-shadow: -4px 0px 24px -12px rgba(27,27,27,0.39) inset;
  }
  .accordion-item {
    border-bottom: 1px solid #ccc;
    background: #ffda721f !important;
  }
  
  .accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid #7f0d84;
  }
  
  .accordion button {
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
    padding: 1em 0;
    color: #000;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
  }
  
  .accordion button:hover,
  .accordion button:focus {
    cursor: pointer;
    color: #7f0d84;
  }
  
  .accordion button:hover::after,
  .accordion button:focus::after {
    cursor: pointer;
    color: #7f0d84;
    border: 1px solid #7f0d84;
  }
  
  .accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
    font-weight: bold;
  }
  
  .accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    left: 20px;
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 22px;
  }
  
  .accordion button .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
  }
  
  .accordion button .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
  }
  
  .accordion button[aria-expanded='true'] {
    color: #7f0d84;
  }
  
  .accordion button[aria-expanded='true'] .icon::after {
    width: 0;
  }
  
  .accordion button[aria-expanded='true'] + .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
  }
  
  .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
    text-align: right;
  }
  
  .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
  }


  @media screen and (max-width: 578px) {
    .container{
      width: 100%;
    }
    .accordion-title{
      width: 80%;
    display: block;
    padding-right: 10px;
    }
  }

  