.installment-works-word{
    color: #910bab;
    font-weight: bold;
    text-align: right;
}
.card-img-top{
    height: 100%;
    border-radius: 1rem;
}
.cards{
    transition: ease-in-out 0.3s;
    width: 95%;
    margin: 10px;
    border-color: #ebebeb;
    border-radius: 1rem;
    height: 100%;
}
.pay{
    background:#940d9a;
    color: white;
    width: 100%;
    font-weight: bold;
    padding: 11px;
}
.pay:hover{
    background: #ffbf01;
}
.course-word{
    border-radius: 1rem;
    background: #ffbf01;
    padding: 0px 20px 2px 20px
}
.course-icon{
    width: 20px;
    margin-bottom: 2px;
    color: gray;
}
.pay-type{
    font-size: 0.9rem;
}
.card-title{
    font-size: 1.1rem;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.6)
}
.cards:hover{
    transform: translateY(-20px);
    cursor: pointer; 
    box-shadow: -2px 10px 45px -26px rgba(126,16,147,0.75);
    -webkit-box-shadow: -2px 10px 45px -26px rgba(126,16,147,0.75);
    -moz-box-shadow: -2px 10px 45px -26px rgba(126,16,147,0.75);
}



@media screen and (max-width: 992px) {
    .card-title{
        font-size: 1rem;
    }
    .cards{
        height: auto;
    }
    
}
