
@media screen and (max-width: 1400px) {
    .image-logo {
     right: 44.5%;
     top: 35%;
   }
   .image-text-header {
     right: 36.5%;
     font-size: 1.4rem;
     top: 47%;
   }
   .image-text-description-2 {
     text-align: center;
     text-wrap: wrap;
   }
   .text-container{
     margin-left: 0rem;
   }
   .header-description {
     font-size: 1.5rem;
   }
   .second-collection-before-last-card .card-body a{
    margin-top: 0px
   }
   .first-collection-last-card .card-body a, .first-collection-first-card .card-body a{
    margin-top: 0px;
   }
   .installments-pay {
    left: 17%;
}
.installments-with-code{
  left: 31%;
}
   }
   
   @media screen and (max-width: 1200px) {
     .nav-logo{
       text-align: left !important;
     }
     .image-text-header {
       right: 33.5%;
     }
     .header-description{
       right: 44.5%;
       font-size: 1.4rem;
     }
     .image-col3-text-header-2{
       width: 100%;
       margin-right: -37px;
       margin-top: 10rem;
     }
     .image-text-description-2{
       width: 100%;
       margin-right: -33px;
     }
     #third-col-card{
       margin-top: 80px
     }
     
     .fourth-card-container{
       width: 14%; 
     }
     .first-card{
      height: 145px;
     }
     .third-card{
      height: 165px 
     }
     .fourth-card{
       width: 100%;
       margin-top: 80px !important;
     }
     .image{
       height: 500px;
     }
     .image-col2-text-header{
       margin-top: 10rem ;
     }
     .java-logo {
       right: 42.5%;
       top: 31%;
       width: 15%;
   }
   .first-collection-last-card .card-body a, .first-collection-first-card .card-body a{
    margin-top: 20px;
   }
   .about-me-image{
      width: 400px;
      margin-top: 100px;
  }
  .popup-container {
    direction: ltr;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px;
    border-radius: 0px;
    box-sizing: content-box;
    margin-top: 0px;
  }
  .fourth-card-offer{
      margin-left: auto;
      margin-right: auto;
  }
  .cards-offers{
    width: 90%;
  }
  .third-collection-first-card,.fifth-collection-first-card{
    margin-top: 24px;
  }
  
  
   }


   @media screen and (min-height: 1200px) {
    .popup-container{
   
    height: auto;
     overflow-y: auto;
    border-radius: 20px;
    margin-top: 3rem;
    }
   }

   
   @media screen and (max-width: 992px) {
    nav div .navbar-collapse .navbar-nav .nav-item .nav-link{
      font-size: 1rem;
    }
    
    .navbar-nav{
      padding-right: 0px
    }
    .nav-btn-mobile{
      background: white;
    }
    .offcanvas-body {
      padding: 0px;
    }
    .nav-btn-mobile:hover{
      background: #ffbf01;
    }
    .offcanvas-header{
      margin-bottom: 15px;
    }
    .navbar-collapse{
      display: none !important;
    }
     #first-section{
       margin-top: -54px;
     }
     #animation{
       margin-top: 92px;
       margin-left: -73px;
       width: 134%;
     }
     .header{
       font-size: 2rem;
     }
     .header-description{
       font-size: 1.4rem;
       top: 250px;
       width: 111%;
     }
     .image-text-header {
       right: 28.6%;
       margin-left: auto;
       font-size: 1.3rem;
       margin-right: auto;
       width: 50%;
   }
   .image-logo {
     right: 43.5%;
     width: 11%;
     top: 28%;
   }
   .data-icon{
     width: 9%;
     right: 45.5%;
   }
   .image-col2-text-header {
     margin-top: 0rem;
   }
   .image-col3-text-header-2 {
     margin-top: 0px;
     margin-right: 0px;
     margin-left: 0px;
   }
    .image-text-description-2 {
     margin-right: 0px;
     margin-left: 0px;
   }
   .image{
     display: block;
     margin-left: auto;
     margin-right:  auto;
     height: 450px;
   }
   .box{
     margin-top: 80px;
     width: 90% !important;
   }
   .first-card-container{
     top: -33%;
     left: 45%;
     width: 10%;
   }
   .first-card{
    height: auto;
   }
   .third-card{
    height: auto; 
   }
   .second-card-container {
    padding: 11px;
    width: 9.5%;
    top: -33%;
    left: 45%;
   }
   #third-col-card{
     margin-top: 0px;
   }
   .third-card-container {
    width: 10%;
    top: -28%;
    left: 44.7%;
   }
   .fourth-card-container {
     width: 10%;
     top: -28%;
     left: 44.5%;
   }
   .third-card-section-four{
     width: 50%;
     margin-top: 30px;
     margin-left: auto;
     margin-right: auto;
   }
   
   .image-text-header-col-3{
     right: 26.6%;
   }
   .learn-word-mid-nave {
     top: 16px;
   }
   .second-section-header {
    margin-bottom: 1rem;
}
.first-collection-last-card .card-body a{
  margin-top: 0px;
 }
 .about-me-image {
  width: 300px;
  margin-bottom: 50px;
  margin-top: 23px;
}


.fourth-card-offer {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 58%;
}
.installments-pay{
    left: 24%;
}
.offer-note{
  margin-bottom: 30px;
  margin-top: 20px;
}
.card-title{
  font-size: 1rem;
}
.cards{
  height: auto;
}
.home-page-card .card-img-top{
  height:100%
}
.home-page-card {
  width: 100%;
}
.mobile-new-word-offer{
  right: 0%;
    width: 85px;
    border-bottom-right-radius: 0px;
    top: 15%;
}
   }

   @media screen and (max-width: 767px) {
     .nav-logo{
       text-align: right !important;
     }
    .text-container{
     margin-top: -43px;
     margin-left: 0px;
     position: unset;
    }
    .header{
     text-align: center !important;
     position: unset;
    }
    .header-description{
     position: unset;
     width: 100%;
     text-align: center;
    }
    #animation{
     text-align: center;
     margin-right: auto;
     margin-left: auto;
     width: 100%;
    }
    #animation svg{
     width: 69% !important;
     margin-left: auto;
     margin-right: auto;
    }
    
   .card{
     width: 70%;
     margin-top: 30px;
   }
   .fourth-card-container {
     width: 11%;
     top: -24%;
     left: 45%;
   }
   .first-card-container {
     top: -33%;
     width: 12%;
     top: -25% !important;
   }
   .card{
     margin-left: auto;
     margin-right: auto;
   }
   .icons-text-description{
     font-size: 1.5rem;
   }
   .third-icon-container{
     margin-top: 25px;
   }
   .counter {
     font-size: 1.7rem;
   }
   .about-me-description {
     width: 100%;
   }
   .site-footer
   {
     padding-bottom:0
   }
   .site-footer .copyright-text,.site-footer .social-icons
   {
     text-align:center
   }
   .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
  .third-card-container svg, .fourth-card-container svg{
    width: 85% !important;
   }
   .second-card-container svg{
    width: 70% !important;
   }
   .first-hr {
    margin-top: 3rem;
}
   #second-section {
    margin-top: 3rem;
}
.second-section-header{
  margin-bottom: 0rem
}
.second-card-offer,.third-card-offer,.fourth-card-offer{
  margin-top: 30px;
}
.installments-pay{
  left: 28%;
    transform: translate(-9%, 9%);
    right: 18%;
}
#students-opinion{
  padding: 0px;
}

   }
   
   
   @media screen and (max-width: 568px) {
     .header{
       font-size: 1.6rem;
     }
     .popup-container{
      direction: unset;
    }
     .header-description {
       font-size: 1.2rem;
   }
   .image {
     height: 330px;
     width: 90vw;
   }
   .image-logo {
     margin-left: auto;
     margin-right: auto;
     right: -1.5%;
     top: 28%;
     width: 60px;
   }
   .image-text-header {
     text-align: center;
     right: -1%;
     font-size: 1rem;
   }
   .image-text-header-col-2{
     right: 36%;
     top: 47%;
   }
   .image-text-header-col-2 {
     right: 0%;
   }
   .data-icon{
     width: 53px;
   }
   .image-text-description {
     font-size: 1rem;
     margin-right: 0px;
   }
   .image-col2-text-header {
     font-size: 1.3rem;
     margin-right: 0px;
   }
   .image-text-description-2 {
     font-size: 1rem;
     text-wrap: balance;
   }
   .image-col3-text-header-2{
     font-size: 1.3rem;
   }
   .images-section-mobile .first-column{
     margin-top: 0rem !important;
   }
   .rest-of-columns {
     margin-top: 3rem !important;
   }
   .card{
     width: 90%;
   }
   .box div {
     top: -38px;
     left: 45%;
     width: 55px;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
     display: block;
   }
   .first-card-container{
     top: -38px !important;
   }
   .third-card-container {
     top: -45px !important;
   }
   .icon-container{
     width: 65px
   }
   .second-icon-container{
     margin-top: 25px;
   }
   .about-me-image {
    width: 65%;
}
.student-opinion {
  width: 100%;
  margin-bottom: 30px;
}
.carousel {
  width: 100%;
}
.carousel-indicators {
  width: 75%;
}
.bi-stars{
  width: 35px;
    height: 35px;
    color: #ffd02d;
    margin-right: 5px;
}
  
   }
   
   @media screen and (max-width: 468px) {
    #first-col-card {
      margin-top: 7px;
  }
     #second-col-card {
       margin-top: 50px;
     }
     #third-col-card{
       margin-top: 50px;
     }
     #fourth-col-card{
       margin-top: 50px;
     }
     .box div{
       left: 0px;
       right: 0px;
     }
   }
   
   