



.line-sap{
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    margin-top: 10rem;
    border: none;
    height: 1px;
    background-image: linear-gradient(to right, transparent, #000, transparent);
}
.first-hr{
  margin-top: 0px;
}
#second-section{
  margin-top: 4rem;
}
.box{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: -4px 14px 11px 0px rgba(179,53,244,0.75);
  -webkit-box-shadow: -4px 14px 11px 0px rgba(179,53,244,0.75);
  -moz-box-shadow: -4px 14px 11px 0px rgba(179,53,244,0.75);
}

.faculty-container{
    padding: 10px;
    position: absolute;
    top: -25%;
    left: 42%;
    border-top-right-radius: 10px;
    background: #7c13a3;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    width: 15%;
}
.faculty-container path{
    fill: rgb(246, 246, 246);
}
.second-card-container{
    padding: 11px;
    width: 16%;
    top: -23%;
}
.third-card-container{
    padding: 10px;
    width: 15%;
    top: -26%;
}
.fourth-card-container {
    width: 11%;
    top: -27%;
    left: 45%;
}
.section-header{
    font-weight: bold;
    padding-top: 12px;
}
.text-description{
    word-spacing: 0.2rem;
    direction: rtl;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-wrap: balance;
}
.second-section-description{
    padding-right: 10px;
    padding-left: 10px;
}
#third-section{
    margin-top: 6rem;
}
#third-section .row{
    padding: 5px;
    border-radius: 10px;
}

.icon-container{
    width: 75px;
    margin-left: auto;
    margin-right: auto;
}
.icon-container svg{
    width: 50%;
}
.first-icon-container svg{
    width: 65%;
}
.third-icon-container svg{
  width: 90%;
}
.icon-container path{
    fill: #ffa81fd4;
}
.icons-text-description{
    margin-top: 5px;
    color: #9c00a8;
    font-weight: bold;
}
.counter{
    font-size: 2rem;
    color: #9c00a8; 
}
.plus{
    color: #9c00a8;

}
.fourth-card{
    width: 50%;
    margin-top: 6rem;
}
.second-section-header{
    margin-bottom: 6rem;
}
.text-description-fourth-card{
    padding-right: 5px;
    padding-left: 5px;
}
.image-container{
    position: relative;
}
.image{
    box-shadow: -9px 13px 35px 0px rgba(0,0,0,0.48);
-webkit-box-shadow: -9px 13px 35px 0px rgba(0,0,0,0.48);
-moz-box-shadow: -9px 13px 35px 0px rgba(0,0,0,0.48);
    border-radius: 7px;
    height: 650px;
    width: 100%;
    filter: brightness(0.4);
}
.image-text-header{
    left: 0;
    right: 34.5%;
    font-size: 1.8rem;
    color: white !important;
    top: 47%;
    position: absolute;
}
.image-logo{
    left: 0;
    right: 43.5%;
    color: white;
    top: 33%;
    position: absolute;
}
.image-col2-text-header {
  margin-top: 16rem;
  color: #8c20b4 !important;
  font-weight: bold;
  text-align: center;
  margin-right: 30px
}
.image-text-description {
  text-align: center;
  text-wrap: balance;
  margin-right: 30px
}
.image-col3-text-header-2{
  margin-top: 16rem;
  color: #8c20b4 !important;
  font-weight: bold;
  text-align: center;
  margin-left: 129px
}
.image-text-description-2{
  text-align: center;
  text-wrap: balance;
  margin-left: 100px

}
.image-border-offers{
  border-radius: 15px;
}
.last-image{
    margin-top: 7rem;
    border-radius: 5px;
    height: 400px;
    width: 100%;
    filter: brightness(0.4);
}
.last-image-header{
    font-weight: bold;
    position: absolute;
    color: white;
    top: 44%;
    right: 35%;
}
.about-me-description {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  text-wrap: balance;
  margin-top: 15px;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#e8ab0f;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons:hover
{
  color: white !important;
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff !important;
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}


.social-icons a.instagram:hover, .social-icons a.tiktok:hover
{
  background-color:#ea4c89 !important;
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
.social-icons li a path{
    fill: gray;
}
.white-logo{
  transition: 0.2s ease-in-out;
  fill: white !important;
}




.pay{
  background:#940d9a;
  color: white;
  width: 100%;
  font-weight: bold;
  padding: 11px;
}
.pay:hover{
  background: #ffbf01;
}
.show-all{
  width: 100px;
  background: #940D99 !important;
    margin-left: auto;
    margin-right: auto;
    color: white !important;
    margin-top: 20px;
}
.show-all:hover{
  background: #7f0d84 !important;
}
.course-word{
  border-radius: 1rem;
  background: #ffbf01;
  padding: 0px 20px 2px 20px
}
.course-icon{
  width: 20px;
  margin-bottom: 2px;
  color: gray;
}
.pay-type{
  font-size: 0.9rem;
}
.card-title{
  font-size: 1rem;
  text-shadow: 0px 0px 1px rgba(0,0,0,0.6)
}
.col-8 p{
    font-size: 0.75rem;
}
.cards:hover{
  transform: translateY(-20px);
  cursor: pointer; 
  box-shadow: -2px 10px 45px -26px rgba(126,16,147,0.75);
  -webkit-box-shadow: -2px 10px 45px -26px rgba(126,16,147,0.75);
  -moz-box-shadow: -2px 10px 45px -26px rgba(126,16,147,0.75);
}



.learn-word-mid-nave{
  font-size: 1rem;
  top: 17px;
}

.navbar-toggler:focus {
box-shadow: none;
}

.element-1{
  font-size: 1.3rem;
  color: white;
  transition: 0.3s ease-in-out;
  animation-duration: 0.5s;
}
.element-2{
  font-size: 1.3rem;
  color: white;
  transition: 0.3s ease-in-out;
  animation-duration: 0.7s;
}
.element-3{
  font-size: 1.3rem;
  color: white;
  transition: 0.3s ease-in-out;
  animation-duration: 0.9s;
}
.element-4{
  transition: 0.3s ease-in-out;
  animation-duration: 1s;
}
.element-1:hover,
.element-2:hover,
.element-3:hover,
.element-4:hover {
  color: #ffd15a;
}
.footer-text{
  margin: 0px;
}
.first-collection{
  min-height: 510px;
}
.first-collection-first-card .card-body a{
  margin-top: 24px;
}
.first-collection-last-card .card-body a{
  margin-top: 23px;
 }
.second-collection{
  min-height: 510px;
}
.second-collection-last-card .card-body a, .second-collection-before-last-card .card-body a{
  margin-top: 22px 
 }

.about-me-title{
  font-weight: bold;
  color: #7c13a3;
}
.about-me-image{
  margin-right: auto;
    margin-left: auto;
    margin-top: 23px;
    width: 450px;
}


.overlay-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
}

.btn-open-overlay {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.carousel{
  padding: 20px;
  box-shadow: -4px 4px 15px -7px rgba(0,0,0,0.75);
    -webkit-box-shadow: -4px 4px 15px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 4px 15px -7px rgba(0,0,0,0.75);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 780px
}
.student-opinion{
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;

}
.carousel-indicators .active {
  opacity: 1;
  background-color: black !important;
}
.carousel-indicators {
  background: #fed112;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border-radius: 10px;
}
.carousel-indicators [data-bs-target] {
  background-color: #a19b9b;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z' fill='%23000000' /%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 0 .708L10.293 8l-5.647 5.646a.5.5 0 0 1-.708-.708l6-6a.5.5 0 0 1 0-.708l-6-6a.5.5 0 0 1 .708 0z' fill='%23000000' /%3e%3c/svg%3e");
}
.bi-stars{
  width: 47px;
    height: 47px;
    color: #ffd02d;
    margin-right: 5px;
}
.popup-container{
    background: whitesmoke;
    border-radius: 20px;
    width: 1100px;
    direction: ltr;
    margin-top: 1rem;
    overflow-y: auto;
    max-height: 100vh;
    overflow-x: hidden;

}
.cards-offers{
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border-radius: 20px;
  height: 445px;
  box-shadow: -1px 2px 11px -5px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 2px 11px -5px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 2px 11px -5px rgba(0,0,0,0.75);
transition: ease-in-out 0.3s;
cursor: pointer;
}
.second-card-offer{
  margin-left: unset;
}
.fourth-card-offer{
  margin-right: unset;
}
.cards-offers:hover{
  transform: translateY(-10px);
}
.close-offers-popup{
  width: 55px;
  background: #e9e9e9;
    border-radius: 20px;
  cursor: pointer;
  color: #999999;
  margin-left: 0px;
  transition: ease-in-out 0.3s;
  
}

.popup-container>.offers-row> div:nth-child(1){
  width: max-content;
}
.card-title-offer{
  padding-top: 13px;
  text-shadow: 0px 0px 1px rgba(0,0,0,0.6);
    color: #00e800;
}
.close-offers-popup:hover{
  background:#ffb800;
  transform: translateY(-5px);
  color: black;
  
}
.image-offers{
  margin-left: auto;
    margin-right: auto;
    width: 100px;
    border-radius: 55px
}
.offer-note{
    color: red;
    font-size: 12px;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 40px;
}
.money-image{
  margin-right: 10px;
    width: 65px;
    padding-top: 15px;
}
.offers-row{
  padding-left: 10px;
  padding-right: 10px
}
.old-price{
  color: #c8c8c8;
  text-decoration: line-through;
  font-weight: bold;
}
.new-price{
  text-shadow: 0px 0px 1px rgba(0,0,0,0.6);
    color: #a91bcc;
}
.contact-me-offer{
  background: #fac61d !important;
  color: black !important;
  font-weight: bold;
  border-radius: 40px;
  border:none;
  transition: ease-in-out 0.3s;
  font-size: 0.8rem ;
}
.card-text-offer{
  font-size: 1.1rem;
  color: gray;
  margin-top: 15px;
}
.second-card-offer .card-text-offer{
  width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.contact-me-offer:hover{
  color: white !important;
  background: #8c20b4 !important;
}
.cards-offers .card-body{
  position: relative;
  direction: rtl;
}
.installments-pay{
 top: 74%;
    position: absolute;
    font-size: 0.9rem;
    left: 20%;
}
.code-description{
  font-weight: bold;
  color: #8c20b4;
  margin-left: auto;
    margin-right: auto;
    width: 200px;
}
.counter-container{
  background-image: url(/public/images/texture-bg.webp);
  padding-bottom: 2.5rem;
background-position: center;
background-size: cover;
}
.third-card-offer .installments-pay{
  top: 75%;
}
.discount-code-for-installments{
  color: #8c20b4;
  font-size: 0.85rem;
}
.pay-description-first-card-from-collection{
  margin-top: 27px 
}
.edit-margin-installment-card-word{
  margin-top: 21px;
}
.classes{
  margin-right: 5px;
  color: gray;
}



.orange-watercolor{
  position: absolute;
  top: 55%;
  transform: rotate(-312deg);
  left: -16%;
  opacity: 0.8;
  z-index: -1;
}

.line-counter-1,.line-counter-2{
  height: 1.2px;
  width: 100%;
  background: #00000042;
  display: block;
  margin-top: 10px;
  position: absolute;
}
.line-counter-2{
  margin-top: 30px;
}

.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-content{
  position: relative;
  row-gap: 5px;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070F4;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070F4;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070F4;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}


.swiper-navBtn{
  color: #8f1fffd4 !important;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
  font-weight: bold
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #8f1fffd4;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #ffa81fd4;
}
@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}
.reviews{
  width: 100%;
  height: 50vh;
  max-height: 350px;
  min-height: 200px;
  border-radius: 10px;
}
.purple-watercolor{
  position: absolute;
  top: 18%;
  left: 84%;
  bottom: 0;
  transform: rotate(-75deg);
  z-index: -1;
}
