.works-header{
    color: #8c20b4
}
.brands{
    padding: 20px;
    border-radius: 10px;
    box-shadow: -9px 2px 19px -9px rgba(0,0,0,0.75);
-webkit-box-shadow: -9px 2px 19px -9px rgba(0,0,0,0.75);
-moz-box-shadow: -9px 2px 19px -9px rgba(0,0,0,0.75);
}
.brands-images{
    width: 150px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.works-header{
    margin-right: 20px;
}
.works-lines{
    margin-left: auto;
    margin-right: 0px;
    width: 45%;
    margin-top: 7rem;
    border: none;
    height: 1px;
    background-image: linear-gradient(to right, transparent, #000, transparent);
}




@media screen and (max-width: 767px) {
    .brands-images{
        width: 30%;
    }
    
}

@media screen and (max-width: 568px) {
    .container{
        text-align: center !important;
    }
    .works-lines{
        margin-right: auto;
    }
}